{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row text-center">

        <div class="col-4">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h1 class="card-title pricing-card-title">{{ object.firs_send }}</h1>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{object.status}}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'newsletter:list' %}" role="button">Назад</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:update' newsletter.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:delete' newsletter.pk %}" role="button">Удалить</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}