{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row text-center">
        <div class="col">
            <a class="btn btn-primary" href="{% url 'newsletter:create' %}" role="button">create newsletter</a>
        </div>
        {% for newsletter in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="card-title pricing-card-title">{{ newsletter.first_send }}</h1>
                </div>
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                        <li>- {{newsletter.status }}</li>

                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}