{% extends 'base.html' %}

{% block content %}
    <p>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <a class="btn btn-primary" href="{% url 'letter:create' %}" role="button">Создать новое письмо</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                            {% for letter in object_list %}
                                <tr>
                                    <th scope="row">{{ letter.pk }}</th>
                                    <td>{{ letter.title }}</td>
                                    <td>{{ letter.body }}</td>
                                    <td><a class="btn btn-primary" href="{% url 'letter:detail' letter.pk %}" role="button">Подробнее</a>
                                    <a class="btn btn-primary" href="{% url 'letter:update' letter.pk %}" role="button">Редактировать</a>
                                    <a class="btn btn-primary" href="{% url 'letter:delete' letter.pk %}" role="button">Удалить</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </p>
{% endblock %}
